<div class="nomination_ballot_container">
  <header> 
    <div class="clear">
      <div class="col-12">
        <div class="headline">
          <h1>TAG Award Nominations 2016</h1>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <ul class="award_links" id="sticky_award_links">
      <div class="award_links_heading">
        Award Categories
      </div>
      <div class="award_links_instructions">
        Click on any Award Category on this list to vote. No searching needed. Let the right section of the ballot come to you. 
      </div>


      <li><a class="award_link" href="#outstanding-musical">Outstanding Musical</a></li>
      <li><a class="award_link" href="#lead-actor-musical">Lead Actor - Musical</a></li>
      <li><a class="award_link" href="#lead-actress-musical">Lead Actress - Musical</a></li>
      <li><a class="award_link" href="#support-actor-musical">Supporting Actor - Musical</a></li>
      <li><a class="award_link" href="#support-actress-musical">Supporting Actress - Musical</a></li>
    </ul>

    <div class="nominations_form">
      <form action = "/noms/category_definition" method="post"> 
        <div class="award_nomination_category">
          <h3 id="outstanding-musical">Outstanding Musical</h3>
       
          <div class="award_nomination_row">
            <label>
              <input name="nominee" type="radio">  Cats; BlueBarn Theatre
            </label>
          </div>
          <div class="award_nomination_row">
            <label>
              <input name="nominee" type="radio"> Cats; Shelterbelt Theatre
            </label>
          </div> 
          <div class="award_nomination_row">
            <label>
              <input name="nominee" type="radio">Cats; Omaha Community Playhouse
            </label>
          </div>
          <div class="award_nomination_row">
            <label>
              <input name="nominee" type="radio">Old Possum's Book of Practical Cats; Bellevue Little Theatre
            </label>
          </div>
          <div class="award_nomination_row">
            <label>
              <input name="nominee" type="radio">Cat On a Hot Tin Roof: The Musical; University of Nebraska at Omaha Theatre
            </label>
          </div>
        </div>

        <div class="award_nomination_category">
          <h3 id="outstanding-musical">Best Actor - Musical</h3>
       
          <div class="award_nomination_row">
            <label>
              <input class="nominee" type="radio">  Shannon Jackson (Role: Rum Tum Tugger; Show: Cats; BlueBarn Theatre)
            </label>
          </div>
          <div class="award_nomination_row">
            <label>
              <input class="nominee" type="radio">Wendy Holley (Role: Rumpleteazer; Show: Cats; Shelterbelt Theatre)
            </label>
          </div> 
          <div class="award_nomination_row">
            <label>
              <input class="nominee" type="radio">Amy Wall (Role: Rumpleteazer; Show: Cats; BlueBarn Theatre)
            </label>
          </div>
          <div class="award_nomination_row">
            <label>
              <input class="nominee" type="radio">Beth Haubert (Role: Rum Tum Tugger; Show: Cats; Omaha Community Playhouse)
            </label>
          </div>
          <div class="award_nomination_row">
            <label>
              <input class="nominee" type="radio">Melinda Deinert (Role: Rumpleteazer; Show: Cats; Omaha Community Playhouse)
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>