<!-- <div class="clear">
  <div class="col-4">
    Text
  </div>

  <div class="col-8">
    I'm on the right.

    <div class="clear">
      <div class="col-6">
        I'm six!
      </div>

      <div class="col-3">
        I'm three!
      </div>

      <div class="col-3">
        I'm three!
      </div>
    </div>
  </div>
</div>

<div class="other stuff">
  jiofjwifjweo iwe
</div>

Hello -->


<header class="masthead masthead-inline" role="banner">
    
    

  <div class="x-navbar-wrap">
    <div class="x-navbar">
      <div class="x-navbar-inner">
        <div class="x-container max width">
          
<h1 class="visually-hidden">Theatre Arts Guild</h1>

<a href="http://theatreartsguild.com/" class="x-brand img" title="Celebrating Live Theatre for Over 35 Years!">
  <img src="//theatreartsguild.com/wp-content/uploads/2014/05/TAG-Website-Elements-logo2.png" alt="Celebrating Live Theatre for Over 35 Years!" data-pin-nopin="true">
</a>          

<a href="#" class="x-btn-navbar collapsed" data-toggle="collapse" data-target=".x-nav-wrap.mobile">
  <i class="x-icon-bars" data-x-icon=""></i>
  <span class="visually-hidden">Home</span>
</a>

<nav class="x-nav-wrap desktop" role="navigation">
  <ul id="menu-main-navigation" class="x-nav"><li id="menu-item-128" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-128"><a href="http://theatreartsguild.com/about/history/"><span>Forms</span></a>

<ul class="sub-menu">
  <li id="menu-item-2102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2102"><a href="http://theatreartsguild.com/about/history/"><span>Make Nominations</span></a></li>

  <li id="menu-item-2101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2101"><a href="http://theatreartsguild.com/about/news/"><span>Cast Votes</span></a></li>
</ul>
</li>

<li id="menu-item-2855" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2855"><a href="http://theatreartsguild.com/tag-membership-products/"><span>User Settings</span></a>

<ul class="sub-menu">

  <li id="menu-item-2856" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2856"><a href="http://theatreartsguild.com/tag-membership-products/"><span>Change Login Email</span></a></li>

  <li id="menu-item-218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-218"><a href="http://theatreartsguild.com/getinvolved/membership/membership-benefits/"><span>Change Password</span></a></li>
</ul>
</li>

<li id="menu-item-2527" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2527"><a href="http://theatreartsguild.com/calendar/show-and-events/"><span>Shows &amp; Events</span></a>
  <ul class="sub-menu">
    <li id="menu-item-134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134"><a href="http://theatreartsguild.com/calendar/complete-calendar/"><span>Complete Calendar</span></a></li>
    <li id="menu-item-2128" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2128"><a href="http://theatreartsguild.com/calendar/show-and-events/"><span>Shows</span></a></li>
    <li id="menu-item-132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-132"><a href="http://theatreartsguild.com/calendar/auditions/"><span>Auditions</span></a></li>
    <li id="menu-item-3771" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3771"><a href="http://theatreartsguild.com/calendar/other-events/"><span>Other Events</span></a></li>
    <li id="menu-item-2066" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2066"><a href="http://theatreartsguild.com/calendar/event-submission/"><span>Submit Your Event</span></a></li>
  </ul>
</li>

<li id="menu-item-135" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135"><a href="http://theatreartsguild.com/theatre-directory/"><span>Theatres</span></a></li>

<li id="menu-item-4756" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4756"><a href="http://theatreartsguild.com/awards/award-process/"><span>Tag Awards</span></a>
<ul class="sub-menu">
  <li id="menu-item-143" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-143"><a href="http://theatreartsguild.com/awards/award-process/"><span>Award Process</span></a></li>
  <li id="menu-item-2159" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2159"><a href="http://theatreartsguild.com/awards/past-winners/"><span>Past Winners</span></a></li>
</ul>
</li>
</ul></nav>
------------------------------------------------------------------------------

</ul></div>        </div>
      </div>
    </div>
  </div>

  </header>