<!-- <div class="clear">
  <div class="col-4">
    Text
  </div>

  <div class="col-8">
    I'm on the right.

    <div class="clear">
      <div class="col-6">
        I'm six!
      </div>

      <div class="col-3">
        I'm three!
      </div>

      <div class="col-3">
        I'm three!
      </div>
    </div>
  </div>
</div>

<div class="other stuff">
  jiofjwifjweo iwe
</div>

Hello -->


<!doctype html>
<html>
<head>
  <title>User Dashboard</title>
</head>
<body>
  <div class="clear" id="nav menu">

    <div class="col-3"> 
      <button type="button">Nomination Form</button>
    </div>

    <div class="col-3">
      <button type="button">Voter Ballot</button>
    </div>

    <div class="col-3">
      <button type="button">User Settings</button>
    </div>

    <div class="col-3">
      <button type="button">Log Out</button>
    </div>
  </div>

  <h1>Welcome Your User Dashboard!</h1>

  <div id="shows list">
    Here's a list of shows youve seen...
      <ul>
        <li>Fiddler On The Roof</li>
        <li>Annie</li>
        <li>Little Shop of Horrors</li>
        <li>Rocky Horror Picture Show</li>
      </ul>
    <button type="button">Add Show</button>
    <button type="button">Delete Show</button>
  </div>
  
</body>
</html>