<div class="clear">
  <div class="col-4">
    Text
  </div>

  <div class="col-8">
    I'm on the right.

    <div class="clear">
      <div class="col-6">
        I'm six!
      </div>

      <div class="col-3">
        I'm three!
      </div>

      <div class="col-3">
        I'm three!
      </div>
    </div>
  </div>
</div>

<div class="other stuff">
  jiofjwifjweo iwe
</div>

Hello


<!doctype html>
<html>
<head>
  <title>User Dashboard</title>
</head>
<h1>This Is Your User Dashboard!</h1>
<body>
    <div id="nav menu"> 
      
    </div>
  <p></p>
  
</body>
</html>