<!-- <div class="clear">
  <div class="col-4">
    Text
  </div>

  <div class="col-8">
    I'm on the right.

    <div class="clear">
      <div class="col-6">
        I'm six!
      </div>

      <div class="col-3">
        I'm three!
      </div>

      <div class="col-3">
        I'm three!
      </div>
    </div>
  </div>
</div>

<div class="other stuff">
  jiofjwifjweo iwe
</div>

Hello -->
<header class="masthead masthead-inline" role="banner">
    
    

  <div class="x-navbar-wrap">
    <div class="x-navbar">
      <div class="x-navbar-inner">
        <div class="x-container max width">
          
          <h1 class="visually-hidden">Theatre Arts Guild</h1>
          <a href="http://theatreartsguild.com/" class="x-brand img" title="Celebrating Live Theatre for Over 35 Years!">
            <img src="//theatreartsguild.com/wp-content/uploads/2014/05/TAG-Website-Elements-logo2.png" alt="Celebrating Live Theatre for Over 35 Years!" data-pin-nopin="true">
          </a>

          <a href="#" class="x-btn-navbar collapsed" data-toggle="collapse" data-target=".x-nav-wrap.mobile">
            <i class="x-icon-bars" data-x-icon=""></i>
            <span class="visually-hidden">Navigation</span>
          </a>

          <nav class="x-nav-wrap desktop" role="navigation">
            <ul id="menu-main-navigation" class="x-nav">
              <li id="menu-item-128" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-128">
                <a href="http://theatreartsguild.com/about/history/">
                  <span>About</span>
                </a>

                <ul class="sub-menu">
                  <li id="menu-item-2102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2102">
                    <a href="http://theatreartsguild.com/about/history/">
                      <span>History</span>
                    </a>
                  </li>

                  <li id="menu-item-2101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2101">
                    <a href="http://theatreartsguild.com/about/news/">
                      <span>News</span>
                    </a>
                  </li>

                  <li id="menu-item-129" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-129">
                    <a href="http://theatreartsguild.com/about/board/">
                      <span>TAG Board</span>
                    </a>
                  </li>

                  <li id="menu-item-137" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-137">
                    <a href="http://theatreartsguild.com/about/donate/">
                      <span>Donate</span>
                    </a>
                  </li>

                  <li id="menu-item-2106" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2106">
                    <a href="http://theatreartsguild.com/about/contact-us/">
                      <span>Contact Us</span>
                    </a>
                  </li>
                </ul>
              </li>

              <li id="menu-item-2855" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2855">
                <a href="http://theatreartsguild.com/tag-membership-products/">
                  <span>Membership</span>
                </a>
                <ul class="sub-menu">
                  <li id="menu-item-2856" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2856">
                    <a href="http://theatreartsguild.com/tag-membership-products/">
                      <span>Join TAG</span>
                    </a>
                  </li>

                  <li id="menu-item-218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-218">
                    <a href="http://theatreartsguild.com/getinvolved/membership/membership-benefits/">
                      <span>Individual/Family Benefits</span>
                    </a>
                  </li>

                  <li id="menu-item-234" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-234">
                    <a href="http://theatreartsguild.com/getinvolved/membership/member-organizations-benefits/">
                      <span>Theatre Benefits</span>
                    </a>
                  </li>
                </ul>
              </li>

              <li id="menu-item-2527" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2527">
                <a href="http://theatreartsguild.com/calendar/show-and-events/">
                  <span>Shows &amp; Events</span>
                </a>

                <ul class="sub-menu">
                  <li id="menu-item-134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134"><a href="http://theatreartsguild.com/calendar/complete-calendar/"><span>Complete Calendar</span></a></li>
                  <li id="menu-item-2128" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2128"><a href="http://theatreartsguild.com/calendar/show-and-events/"><span>Shows</span></a></li>
                  <li id="menu-item-132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-132"><a href="http://theatreartsguild.com/calendar/auditions/"><span>Auditions</span></a></li>
                  <li id="menu-item-3771" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3771"><a href="http://theatreartsguild.com/calendar/other-events/"><span>Other Events</span></a></li>
                  <li id="menu-item-2066" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2066"><a href="http://theatreartsguild.com/calendar/event-submission/"><span>Submit Your Event</span></a></li>
                </ul>
              </li>

              <li id="menu-item-135" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135">
                <a href="http://theatreartsguild.com/theatre-directory/">
                  <span>Theatres</span>
                </a>
              </li>

              <li id="menu-item-2662" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2662">
                <a href="http://theatreartsguild.com/new-member-directory/">
                  <span>Member Directory</span>
                </a>
                <ul class="sub-menu">
                  <li id="menu-item-2303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2303">
                    <a href="http://theatreartsguild.com/new-member-directory/">
                      <span>Full Directory</span>
                    </a>
                  </li>

                  <li id="menu-item-2317" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2317">
                    <a href="http://theatreartsguild.com/profile-form/">
                      <span>My Profile</span>
                    </a>
                  </li>

                  <li id="menu-item-3104" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3104">
                    <a href="http://theatreartsguild.com/getinvolved/membership/lifetime-members/">
                      <span>Lifetime Members</span>
                    </a>
                  </li>
                </ul>
              </li>

              <li id="menu-item-203" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-203">
                <a href="http://theatreartsguild.com/?p=2707">
                  <span>Our Programs</span>
                </a>

                <ul class="sub-menu">
                  <li id="menu-item-140" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-140">
                    <a href="http://theatreartsguild.com/programs/scholarship/">
                      <span>Scholarship</span>
                    </a>
                  </li>

                  <li id="menu-item-141" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-141">
                    <a href="http://theatreartsguild.com/programs/theatre-arts-grant/">
                      <span>Grants</span>
                    </a>
                  </li>

                  <li id="menu-item-2321" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2321">
                    <a href="http://theatreartsguild.com/programs/educational-workshops/">
                      <span>Educational Workshops</span>
                    </a>
                  </li>

                  <li id="menu-item-555" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-555">
                    <a href="http://theatreartsguild.com/programs/forum/">
                      <span>Theatre Forums</span>
                    </a>
                  </li>

                  <li id="menu-item-2098" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2098">
                    <a href="http://theatreartsguild.com/members/script-library/">
                      <span>Script Library</span>
                    </a>
                  </li>
                </ul>
              </li>

              <li id="menu-item-4756" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4756">
                <a href="http://theatreartsguild.com/awards/award-process/">
                  <span>Tag Awards</span>
                </a>
                <ul class="sub-menu">
                  <li id="menu-item-143" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-143">
                    <a href="http://theatreartsguild.com/awards/award-process/">
                      <span>Award Process</span>
                    </a>
                  </li>

                  <li id="menu-item-2159" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2159">
                    <a href="http://theatreartsguild.com/awards/past-winners/"> <span>Past Winners</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>