<div class="clear">
  <div class="col-4">
    Text
  </div>

  <div class="col-8">
    I'm on the right.

    <div class="clear">
      <div class="col-6">
        I'm six!
      </div>

      <div class="col-3">
        I'm three!
      </div>

      <div class="col-3">
        I'm three!
      </div>
    </div>
  </div>
</div>

<div class="other stuff">
  jiofjwifjweo iwe
</div>

Hello


<!-- <!doctype html>
<html>
<head>
  <title>User Dashboard</title>
</head>
<body>
  <h1>This Is Your User Dashboard!</h1>
    <div id="nav menu"> 
      <form action="/nomination_form">
        <input type="submit" value="<%= @dwarf[0].name %>">
      </form>
    </div>
  <p></p>
  
</body>
</html> -->