<!-- <div class="clear">
  <div class="col-4">
    Text
  </div>

  <div class="col-8">
    I'm on the right.

    <div class="clear">
      <div class="col-6">
        I'm six!
      </div>

      <div class="col-3">
        I'm three!
      </div>

      <div class="col-3">
        I'm three!
      </div>
    </div>
  </div>
</div>

<div class="other stuff">
  jiofjwifjweo iwe
</div>

Hello -->




<html>
<head>
    <title>Document title</title>
</head>
<body>
  <div class="clear nav-bar">
    <div class="col-3">
      <img src="//theatreartsguild.com/wp-content/uploads/2014/05/TAG-Website-Elements-logo2.png" alt="Celebrating Live Theatre for Over 35 Years!">
    </div>

    <div class="col-2 nav-link">
      <a href="dashboard_page">Dashboard</a>
    </div>

    <div class="col-2 nav-link">
      <a href="noms_page">Nominations</a>
    </div>

    <div class="col-2 nav-link">
      <a href="ballots_page">Ballots</a>
    </div>

    <div class="col-2 nav-link">
      <a href="settings_page">Settings</a>
    </div>
  </div>

  <div class="clear intro">
    <div class="col-12">
      <p>I'm some sort of text about your shows!
      </p>
      <p class="button">
        <a href="new show form" target="_self">Add New Show!</a>
      </p>
    </div>
  </div>

  <div class="clear shows">
    <div class="col-6 plays">
      <ul>I'm a list of shows you've seen in a unordered list
        <li>Im show #1</li>
        <li>I'm show #2</li>
        <li>I'm show #3</li>
      </ul>
    </div>
    <div class="col-6 theaters">
      I'm a list of theaters you saw those shows at
    </div>
  </div>

</body>
</html>