





<!-- <div class="clear">
  <div class="col-3" id="logo">
  <img src="TAG-Website-Elements-logo2.png" alt="TAG logo"
style="width:64px;height:64px;"> -->

<header> 
  <div class="clear">
    <div class="col-12" id="heading">
      <h1>TAG Award Nominations 2016</h1>
    </div>
  </div>
</header>
<div class="clear">

  <ul>
    <div class="col-2" id="categories">
      <li class="dropdown">
        <a href="http://whatever the url is" class="droptrigger">Musicals</a>
        <div class="dropdown-content">
        <a href="###">Best Actor - Musical</a>
        <a href="###">Best Actress - Musical</a>
        </div>
      </li>
    </div>

    <div class="col-2" id="categories">
      <li>
        <a href="http://whatever the url is">Comedy/Drama</a>
      </li>
    </div>

    <div class="col-2" id="categories">
      <li>
        <a href="http://whatever the url is">Other Performers</a>
      </li>
    </div>

    <div class="col-2" id="categories">
      <li>
        <a href="http://whatever the url is">Directors</a>
      </li>
    </div>

    <div class="col-2" id="categories">
      <li>
        <a href="http://whatever the url is">Technical</a>
      </li>
    </div>

    <div class="col-2" id="categories">
      <li>
        <a href="http://whatever the url is">Special Award</a>
      </li>
    </div>
  </div>
    
</div>





</ul>
    <div class="clear">
      <div class="col-9">
        <!-- The form entry. Drop downs for dammit I need to decide.  -->
        <h2>Your Current Nominations</h2>
        <p>Can we get this with a for loop?</p> 
        





        <h1>Nominations for TAG Awards</h1>
          <p></p>

          <form action = "/noms/category_definition" method="get"> 

            <h3>Production</h3>
              <input type ="text" name="" placeholder="Production">
            <h3>Theater</h3>
              <input type ="text" name="" placeholder="Theater">
            <h3>Name</h3>
              <input type ="text" name="" placeholder="Name">
            <h3>Role</h3>
              <input type ="text" name="" placeholder="Role">
  
          </form>
      </div>

      <div class="col-3">
        <!-- Buttons for next, save, submit, quit(without saving) -->
      </div>

      <div class="col-3">
        <input type ="button" name="Save">
      </div>

      <div class="col-3">
        <input type ="button" name="Submit">
      </div>

       <div class="col-3">
        <input type ="button" name="Next">
      </div>

       <div class="col-1">
        <input type ="button" name="Quit">
      </div>
      
    </div>
  </div>
</div>

