

<header> 
  <div class="clear">
    <div class="col-12" id="heading">
      <h1>TAG Award Nominations 2016</h1>
    </div>
  </div>
</header>
  <div class="clear">
  <ul>
    <div class="col-2" id="categories">
      <li class="dropdown">
        <a href="#musicals" 
          class="droptrigger">Musicals</a>
          <div class="dropdown-content">
            <a href="#outstanding-musical">Outstanding Musical</a>
            <a href="#lead-actor-musical">Lead Actor - Musical</a>
            <a href="#lead-actress-musical">Lead Actress - Musical</a>
            <a href="#support-actor-musical">Supporting Actor - Musical</a>
            <a href="#support-actress-musical">Supporting Actress - Musical</a>
            <a href="#featured-actor-musical">Featured Actor - Musical</a>
            <a href="#featured-actress-musical">Featured Actress - Musical</a>
          </div>
      </li>
    </div>
    <div class="col-2" id="categories">
      <li>
        <a href="#comedy-drama" 
          class="droptrigger">Comedy/Drama</a>
          <div class="dropdown-content">
            <a href="#outstanding-comedy">Outstanding Comedy</a>
            <a href="#outstanding-drama">Outstanding Drama</a>
            <a href="#lead-actor-com-drama">Lead Actor - Comedy or Drama</a>
            <a href="#lead-actress-com-drama">Lead Actress - Comedy or Drama</a>
            <a href="#support-actor-com-drama">Supporting Actor - Comedy or Drama</a>
            <a href="#support-actress-com-drama">Supporting Actress - Comedy or Drama</a>
            <a href="#feat-actor-com-drama">Featured Actor - Comedy or Drama</a>
            <a href="#feat-actress-com-drama">Featured Actress - Comedy or Drama</a>
          </div>
      </li>
    </div>
    <div class="col-2" id="categories">
      <li>
        <a href="#other-performances"
          class="droptrigger">Other Performances</a>
            <div class="dropdown-content">
              <a href="#special-event">Outstanding Special Event</a>
              <a href="#ensemble">Ensemble</a>
              <a href="#youth-actor">Youth Actor</a>
              <a href="#youth-actress">Youth Actress</a>
            </div>
      </li>
    </div>
    <div class="col-2" id="categories">
      <li>
        <a href="#directors-artistic-team"
          class="droptrigger">Directors/Artistic Team</a>
            <div class="dropdown-content">
              <a href="#director-musical">Director - Musical</a>
              <a href="#director-com-or-drama">Director - Comedy or Drama</a>
              <a href="#music-director">Music Director</a>
              <a href="#choreographer">Choreographer</a>
              <a href="#new-script">New Script</a>
            </div>
      </li>
    </div>  
    <div class="col-2" id="categories">
      <li>
        <a href="#technical"
          class="droptrigger">Technical</a>
            <div class="dropdown-content">
              <a href="#set-design">Set Design</a>
              <a href="#lighting">Lighting</a>
              <a href="#sound">Sound</a>
              <a href="#costumes">Costumes</a>
              <a href="#properties">Properties</a>
            </div>
      </li>
    </div>
    <div class="col-2" id="categories">
      <li>
        <a href="#special-award"
          class="droptrigger">Special Award</a>
            <div class="dropdown-content">
              <a href="#theatre-educator">Theatre Educator Award</a>
              <a href="#backstage-award">Backstage Award</a>
              <a href="#youth-tech">Youth Tech Award</a>
            </div>
      </li>
    </div>
  </ul>   
  </div>
    <div class="clear">

      <div class="col-9">
        <h2>Your Nomination Ballot</h2>
        <p>There must be a ruby way to do this.</p> 
      </div> 
    </div>
  </div>
    <div>
      <div class="anchors">
        <a name="outstanding-musical"></a>
        <a name="lead-actor-musical"></a>
        <a name="lead-actress-musical"></a>
        <a name="support-actor-musical"></a>
        <a name="support-actress-musical"></a>
        <a name="featured-actor-musical"></a>
        <a name="featured-actress-musical"></a>
        <a name="outstanding-comedy"></a>
        <a name="outstanding-drama"></a>
        <a name="lead-actor-com-drama"></a>
        <a name="lead-actress-com-drama"></a>
        <a name="support-actor-com-drama"></a>
        <a name="support-actress-com-drama"></a>
        <a name="feat-actor-com-drama"></a>
        <a name="feat-actress-com-drama"></a>
        <a name="special-event"></a>
        <a name="ensemble"></a>
        <a name="youth-actor"></a>
        <a name="youth-actress"></a>
        <a name="director-musical"></a>
        <a name="director-com-or-drama"></a>
        <a name="music-director"></a>
        <a name="choreographer"></a>
        <a name="new-script"></a>
        <a name="set-design"></a>
        <a name="lighting"></a>
        <a name="sound"></a>
        <a name="costumes"></a>
        <a name="properties"></a>
      </div>
    </div>






    <div class="clear">
      <div class ="col-3">
        <div class="col-3">
            <button type ="button" name="Save">Save</button>
            <button type ="button" name="Submit">Submit</button>
            <button type ="button" name="Next">Next</button>
            <button type ="button" name="Quit">Quit</button>
        </div>
      </div>
    </div>
   



  


  
      <div class ="clear">
        <div class = "col-12">
-------- do I need this or is it on Melinda's page?



          <h1>Nominations for TAG Awards</h1>
            <p></p>

            <form action = "/noms/category_definition" method="get"> 

              <h3>Production</h3>
                <input type ="text" name="" placeholder="Production">
              <h3>Theater</h3>
                <input type ="text" name="" placeholder="Theater">
              <h3>Name</h3>
                <input type ="text" name="" placeholder="Name">
              <h3>Role</h3>
                <input type ="text" name="" placeholder="Role">
    
            </form>
        </div>
      </div>

