<div class="nomination_ballot_container">
  <header> 
    <div class="clear">
      <div class="col-12">
      <h1>TAG Award Nominations 2016</h1>
      </div>
    </div>
  </header>

  <div class="container">
    <ul class="award_links" id="sticky_award_links">
      <li><a class="award_link" href="#outstanding-musical">Outstanding Musical</a></li>
      <li><a class="award_link" href="#lead-actor-musical">Lead Actor - Musical</a></li>
      <li><a class="award_link" href="#lead-actress-musical">Lead Actress - Musical</a></li>
      <li><a class="award_link" href="#support-actor-musical">Supporting Actor - Musical</a></li>
      <li><a class="award_link" href="#support-actress-musical">Supporting Actress - Musical</a></li>
      <li><a class="award_link" href="#featured-actor-musical">Featured Actor - Musical</a></li>
      <li><a class="award_link" href="#featured-actress-musical">Featured Actress - Musical</a></li>
      <li><a class="award_link" href="#outstanding-comedy">Outstanding Comedy</a></li>
      <li><a class="award_link" href="#outstanding-drama">Outstanding Drama</a></li>
      <li><a class="award_link" href="#lead-actor-com-drama">Lead Actor - Comedy or Drama</a></li>
      <li><a class="award_link" href="#lead-actress-com-drama">Lead Actress - Comedy/Drama</a></li>
      <li><a class="award_link" href="#support-actor-com-drama">Supporting Actor - Comedy/Drama</a></li>
      <li><a class="award_link" href="#support-actress-com-drama">Supporting Actress - Comedy/Drama<li></a>
      <li><a class="award_link" href="#feat-actor-com-drama">Featured Actor - Comedy/Drama</a></li>
      <li><a class="award_link" href="#feat-actress-com-drama">Featured Actress - Comedy/Drama</a></li>
      <li><a class="award_link" href="#special-event">Outstanding Special Event</a></li>
      <li><a class="award_link" href="#ensemble">Ensemble</a></li>
      <li><a class="award_link" href="#youth-actor">Youth Actor</a></li>
      <li><a class="award_link" href="#youth-actress">Youth Actress</a></li>
      <li><a class="award_link" href="#director-musical">Director - Musical</a></li>
      <li><a class="award_link" href="#director-com-or-drama">Director - Comedy or Drama</a></li>
      <li><a class="award_link" href="#music-director">Music Director</a></li>
      <li><a class="award_link" href="#choreographer">Choreographer</a></li>
      <li><a class="award_link" href="#new-script">New Script</a></li>
      <li><a class="award_link" href="#set-design">Set Design</a></li>
      <li><a class="award_link" href="#lighting">Lighting</a></li>
      <li><a class="award_link" href="#properties">Properties</a></li>
      <li><a class="award_link" href="#costumes">Costumes</a></li>
      <li><a class="award_link" href="#sound">Sound</a></li>
      <li><a class="award_link" href="#theatre-educator">Theatre Educator Award</a></li>
      <li><a class="award_link" href="#backstage-award">Backstage Award</a></li>
      <li><a class="award_link" href="#youth-tech">Youth Tech Award</a> </li>
    </ul>

    <div class="nominations_form">
      <form action = "/noms/category_definition" method="post"> 

        <h3><a id="outstanding-musical">Outstanding Musical</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <h3><a id="lead-actor-musical">Lead Actor - Musical</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <h3><a id="lead-actress-musical">Lead Actress - Musical</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
       <h3><a id="support-actor-musical">Supporting Actor - Musical</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
       <h3><a id="support-actress-musical">Supporting Actress - Musical</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <h3><a id="featured-actor-musical">Featured Actor - Musical</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
       <h3><a id="featured-actress-musical">Featured Actress - Musical</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <h3><a name="outstanding-comedy">Outstanding Comedy</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <h3><a name="outstanding-drama">Outstanding Drama</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <h3><a name="lead-actor-com-drama">Lead Actor - Comedy/Drama</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <h3><a name="lead-actress-com-drama">Lead Actress - Comedy/Drama</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <h3><a name="support-actor-com-drama">Supporting Actor - Comedy/Drama</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <h3><a name="support-actress-com-drama">Supporting Actress - Comedy/Drama</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <h3><a name="feat-actor-com-drama">Featured Actor - Comedy/Drama</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <h3><a name="feat-actress-com-drama">Featured Actress - Comedy/Drama</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
         <h3><a name="special-event">Special Event</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <h3><a name="ensemble">Ensemble</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <h3><a name="youth-actor">Youth Actor</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <h3><a name="youth-actress">Youth Actress</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
          <h3><a name="director-musical">Director - Musical</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <h3><a name="director-com-or-drama">Director - Comedy/Drama</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
         <h3><a name="music-director">Music Director</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <h3><a name="choreographer">Choreographer</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <h3><a name="new-script">New Script</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <h3><a name="set-design">Set Design</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <h3><a name="lighting">Lighting</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <h3><a name="sound">Sound</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <h3><a name="costumes">Costumes</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
      <h3><a name="properties">Properties</a></h3>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p> 
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
        <p>
          Production
            <input type ="text" placeholder="Production">
          Theater
            <input type ="text" placeholder="Theater">
          Name
            <input type ="text" placeholder="Name">
          Role
            <input type ="text" placeholder="Role">
        </p>
      </form>
    </div>
  </div>


  <div class="clear">
    <div class="col-12">
        </div>
          <button type ="button" name="Save">Save</button>
          <button type ="button" name="Submit">Submit</button>
          <button type ="button" name="Next">Next</button>
          <button type ="button" name="Quit">Quit</button>
      </div>
    </div>
  </div>
</div>