<html>
<head>
    <title>Document title</title>
</head>
<body>
  <div class="clear nav-bar">
    <div class="col-3">
      <img src="//theatreartsguild.com/wp-content/uploads/2014/05/TAG-Website-Elements-logo2.png" alt="Celebrating Live Theatre for Over 35 Years!">
    </div>

    <div class="col-2 nav-link">
      <a href="dashboard_page">Dashboard</a>
    </div>

    <div class="col-2 nav-link">
      <a href="noms_page">Nominations</a>
    </div>

    <div class="col-2 nav-link">
      <a href="ballots_page">Ballots</a>
    </div>

    <div class="col-2 nav-link">
      <a href="settings_page">Settings</a>
    </div>
  </div>

  <div class="clear title">
    <div class="col-12 title-box">
      <h2>Show Attendance 2016</h2>
    </div>
  </div>

  <div class="clear content">
    <div class="col-12 content-box">
      <div class="clear">
        <div class="col-6">
          <% @viewings.each do |view| %>
            <p> <%= view.play.title%> </p>>
          <% end %>
        </div>
        <div class="col-6">
          <% @viewings.each do |view| %>
            <p> <%= view.play.theater.name %> </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div>
    <a class="button" href="new show form" target="_self">add show</a>
    <a class="button" href="new show form" target="_self">delete show</a>
  </div>

</body>
</html>