<h1>The 2016 TAG Awards Nomination Period is Open!</h1>
<h2>Hello, <%= @user.first_name%>!</h2>
<h3>Here is your link for setting up your password</h3>
<a href="/users/register/<%=@user.voter_token%>">Click here to set your password and begin the nomination process!</a>