<!-- This is where we write the email text formatted in HTML -->

<!-- Example from the intrawebs: -->
<!-- <!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %></h1>
    <p>
      Sample mail sent using smtp.
    </p>
  </body>
</html> -->

<h1>The 2016 TAG Awards Nomination Period is Open!</h1>
<h2>Hello, <%= @user.first_name%>!</h2>
<h3>Here is your link for setting up your password</h3>
<a href="/users/register/<%=@user.voter_token%>">Click here to set your password and begin the nomination process!</a>