<h1>Edit Viewing</h1>

<%= form_tag('/viewings/:id/update') do %>
  <input type="text" name="play_id" value ="<%= @viewing.play.title%>" >
  <input type="date" name="date" value="<%= @viewing.date %>">
  <input type="submit">  
<% end %>  