<!-- When creating/adding a new show, @plays will need to be provided in order to auto-complete shows if they're already in the database. For now, a Play's ID must be manually entered. -->

<!-- <% @plays.each do |play| %>
  <%= play.title %>
<% end %> -->

<html>
<head>
    <title>New Viewing Form</title>
</head>
<body>
  <div class="clear title">
    <div class="col-12 title-box">
      <h2>New Viewing Form</h2>
    </div>
  </div>

  <div class="clear content">
    <div class="col-12 content-box">
      <div class="clear form">
        <div class="col-12">
          <%= form_tag('/viewings/create') do %>
            <p>
              <input type="text" class="form-textbox" name="play_id" size="20" value="" placeholder="Performance Name">
            </p>
            <p>
              <input type="date" class="form-textbox" name="date">
            </p>
            <p>
              <button id="input_2" type="submit" class="form-submit-button">
                SUBMIT
              </button>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>