<!-- When creating/adding a new show, @plays will need to be provided in order to auto-complete shows if they're already in the database -->
<% @plays.each do |play| %>
  <%= play.title %>
<% end %>

<h1>New Viewing Form</h1>
  <%= form_tag('/viewings/create') do %>
  <%= select_tag "play_id", options_from_collection_for_select(@plays, "id", "title") %>
  <input type="date" name="date">
  <input type="submit">  
<% end %>  


<%= link_to "Add New Play", add_play_path %>