<% content_for(:title) do %>
  Ballot Builder
<% end %>

<header class="header">
  <h1 class="header__heading" id="page-title"><%= content_for(:title) %></h1>
  <div class="header__actions">
    <!-- Header actions go here. -->
  </div>
</header>

<div class="side-spacer">
  <p>
    Make sure you do not save any changes from this page until you are 100% complete with nomination approvals, including all spelling/formatting changes. It's important to have fully consistent data before setting the final ballot, as otherwise the final ballot can end up being inaccurate.
  </p>

  <p>
    If you are certain that all of the nominations for a particular award are correct and have all been approved, then it is okay to set the final ballot for just that award.
  </p>

  <p>
    Note: Once the final ballot for an award has been set, it cannot easily be changed. So be sure you're ready to proceed before submitting anything below.
  </p>

  <hr>

  <p>
    To set the final ballot for an award, check the box next to a nomination. Do this for each line you want on the final ballot for an award, and then click the button to submit. <strong>You cannot set the final ballot for more than one award at a time.</strong>
  </p>

  <hr>

  <!-- This works, but I don't want them using it. -->
  <!-- <p>Click here to reset Ballot Builder and clear ballot items for the current year</p> -->
  <%# link_to( "Reset for #{@year}!", reset_admin_nominations_path, class: "button",method: :post) %>

</div>

<% @awards.each do |award| %>
  <header class="header">
    <h2>
      <%= award.award_name %>  
    </h2>
  </header>

  <% if award.ballot_set? %>
    <%= render partial: "final_ballot_section", locals: {award: award} %>
  <% else %>
    <%= render partial: "ranked", locals: {award_id: award.id, limit: 10} %>
  <% end %>

  <hr>
<% end %>