<% content_for(:title) do %>
  Nominations - Top Ten
<% end %>

<header class="header">
  <h1 class="header__heading" id="page-title"><%= content_for(:title) %></h1>
  <div class="header__actions">
    <!-- Header actions go here. -->
  </div>
</header>

<% @awards.each do |award| %>
  <%= render partial: "ranked", locals: {award: award} %>

  <hr>
<% end %>