
<%= @prods.each.to_json do |p| %>
<% end %>
<p>#################################</p>
<%= @venue.each.to_json do |p| %>
<% end %> 
<p>#################################</p>   
<%= @noms.each.to_json do |p| %>
<% end %>



   

  