<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.first_name %></h1>
    <p>
      We are now accepting nominations for the 2016 TAG Awards!<br>
      NEW THIS YEAR! You choose which way you prefer to nominate! This email includes a link to register for online voting, or you can vote via the ballot that is being mailed to you. You may only vote ONE time. Submissions of both the online and mailed ballot will deem the nomination invalid.
    </p>
    <p>
      <a href="<%=@url%>/<%=@user.voter_token%>">Click here to set your password and begin the nomination process!</a>
    </p>
    <p>Thanks for your continued support of TAG and have a great day!</p>
  </body>
</html>