<h3>Register</h3>
<h4>You must register using your voter token and create a password in order to login, create nominations, and vote.</h4>
<%= form_tag('/users/set_password') do %>
  <% if @user %>
  <%= text_field_tag "voter_token", @user.voter_token %>
  <% else %>
  <%= text_field_tag "voter_token", "", placeholder: 'Enter Your Voter Token' %>
  <% end %>
  <%= submit_tag("Register Me")%>
<% end %>




