<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.first_name %></h1>
    <p>
      Thank you to everyone who submitted nominations for the 2016 TAG Awards! Ballots of the top nominees are now available for final voting. As was the case with nominations, you may vote via the online ballots or paper ballots that are being mailed to you. You may only vote ONE time. Submissions of both the online and mailed ballot will deem the nomination invalid.
    </p>
    <p>
      <a href="<%=@url%>">Click here to vote!</a>
    </p>
    <p>Thank you so much for your vote! We'll see you at the TAG Awards!</p>
  </body>
</html>