<div class="nomination_ballot_container">
  <header> 
    <div class="clear">
      <div class="col-12">
        <div class="headline">
          <h1>TAG Award Nominations 2016</h1>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <ul class="award_links" id="sticky_award_links">
      <div class="award_links_heading">
        Award Categories
      </div>
      <div class="award_links_instructions">
        Click on any Award Category on this list to get the nomination ballot for that category. No searching needed. Let the right section come to you. 
      </div>

      <li><a class="award_link" href="#outstanding-musical">Outstanding Musical</a></li>
      <li><a class="award_link" href="#lead-actor-musical">Lead Actor - Musical</a></li>
      <li><a class="award_link" href="#lead-actress-musical">Lead Actress - Musical</a></li>
      <li><a class="award_link" href="#support-actor-musical">Supporting Actor - Musical</a></li>
      <li><a class="award_link" href="#support-actress-musical">Supporting Actress - Musical</a></li>
    </ul>

    <div class="nominations_form">
      <form action = "/noms/category_definition" method="post"> 
        <div class="award_nomination_category">
          <h3 id="outstanding-musical">Best Musical</h3>
        
          <div class="award_nomination_row">
            Theater:  <input class="theater_input" type="text" name="awards[1][nominations[0][theater]]" value="Orpheum">
            Nominee:  <input class="theater_input" type="text" name="awards[1][nominations[0][theater]]" value="Orpheum">
            Role:  <input class="theater_input" type="text" name="awards[1][nominations[0][theater]]" value="Orpheum">
            Show:  <input type="text" name="awards[1][nominations[0][show]]" 
                  value="Fiddler on the Roof">     
          </div>

          <div class="award_nomination_row">
            Theater:  <input class="theater_input" name="awards[1][nominations[1][theater]]" value="The Rose">
            Show:  <input type="text" name="awards[1][nominations[1][show]]" 
                  value="Peter Pan">
          </div>

          <div class="award_nomination_row">
            Theater:  <input class="theater_input" name="awards[1][nominations[2][theater]]" value="">
            Show:  <input type="text" name="awards[1][nominations[2][show]]" 
                  value="">
          </div>

          <div class="award_nomination_row">
            Theater:  <input class="theater_input" name="awards[1][nominations[3][theater]]" value="">
            Show:  <input type="text" name="awards[1][nominations[3][show]]" 
                  value="">
          </div>

          <div class="award_nomination_row">
            Theater:  <input class="theater_input" name="awards[1][nominations[4][theater]]" value="">
            Show:  <input type="text" name="awards[1][nominations[4][show]]" 
            value="">
          </div>
        </div>

        <div class="award_nomination_category">
          <h3 id="lead-actor-musical">Lead Actor - Musical</h3>
          <div class="award_nomination_row">
            Theater:  <input class="theater_input" name="awards[1][nominations[0][theater]]" value="Orpheum">
            Show:  <input type="text" name="awards[1][nominations[0][show]]" 
                  value="Fiddler on the Roof">
          </div>
        
          <div class="award_nomination_row">
            Theater:  <input class="theater_input" name="awards[1][nominations[1][theater]]" value="The Rose">
            Show:  <input type="text" name="awards[1][nominations[1][show]]" 
                  value="Peter Pan">
          </div>

          <div class="award_nomination_row">
            Theater:  <input class="theater_input" name="awards[1][nominations[2][theater]]" value="">
            Show:  <input type="text" name="awards[1][nominations[2][show]]" 
                  value="">
          </div>

          <div class="award_nomination_row">
            Theater:  <input class="theater_input" name="awards[1][nominations[3][theater]]" value="">
            Show:  <input type="text" name="awards[1][nominations[3][show]]" 
                  value="">
          </div>

          <div class="award_nomination_row">
            Theater:  <input class="theater_input" name="awards[1][nominations[4][theater]]" value="">
            Show:  <input type="text" name="awards[1][nominations[4][show]]" 
            value="">
          </div>
        </div>

        <div class="award_nomination_category">
          <h3 id="lead-actress-musical">Lead Actress - Musical</h3>
          
          <div class="award_nomination_row">
            Theater:  <input class="theater_input" name="awards[1][nominations[0][theater]]" value="Orpheum">
           Show:  <input type="text" name="awards[1][nominations[0][show]]" 
                  value="Fiddler on the Roof">
          </div>

          <div class="award_nomination_row">
            Theater:  <input class="theater_input" name="awards[1][nominations[1][theater]]" value="The Rose">
            Show:  <input type="text" name="awards[1][nominations[1][show]]" 
                  value="Peter Pan">
          </div>

          <div class="award_nomination_row">
            Theater:  <input class="theater_input" name="awards[1][nominations[2][theater]]" value="">
            Show:  <input type="text" name="awards[1][nominations[2][show]]" 
                  value="">
          </div>

          <div class="award_nomination_row">
            Theater:  <input class="theater_input" name="awards[1][nominations[3][theater]]" value="">
            Show:  <input type="text" name="awards[1][nominations[3][show]]" 
                  value="">
          </div>

          <div class="award_nomination_row">
            Theater:  <input class="theater_input" name="awards[1][nominations[4][theater]]" value="">
            Show:  <input type="text" name="awards[1][nominations[4][show]]" 
            value="">
          </div>
        </div>

        <div class="award_nomination_category">
          <h3 id="support-actor-musical">Supporting Actor - Musical</h3>
          
          <div class="award_nomination_row">
            Theater:  <input class="theater_input" name="awards[1][nominations[0][theater]]" value="Orpheum">
           Show:  <input type="text" name="awards[1][nominations[0][show]]" 
                  value="Fiddler on the Roof">
          </div>

          <div class="award_nomination_row">
            Theater:  <input class="theater_input" name="awards[1][nominations[1][theater]]" value="The Rose">
            Show:  <input type="text" name="awards[1][nominations[1][show]]" 
                  value="Peter Pan">
          </div>

          <div class="award_nomination_row">
            Theater:  <input class="theater_input" name="awards[1][nominations[2][theater]]" value="">
            Show:  <input type="text" name="awards[1][nominations[2][show]]" 
                  value="">
          </div>

          <div class="award_nomination_row">
            Theater:  <input class="theater_input" name="awards[1][nominations[3][theater]]" value="">
            Show:  <input type="text" name="awards[1][nominations[3][show]]" 
                  value="">
          </div>

          <div class="award_nomination_row">
            Theater:  <input class="theater_input" name="awards[1][nominations[4][theater]]" value="">
            Show:  <input type="text" name="awards[1][nominations[4][show]]" 
            value="">
          </div>
        </div>

        <div class="award_nomination_category">
          <h3 id="support-actress-musical">Supporting Actress - Musical</h3>
            <div class="award_nomination_row">
            Theater:  <input class="theater_input" name="awards[1][nominations[0][theater]]" value="Orpheum">
            Show:  <input type="text" name="awards[1][nominations[0][show]]" 
                  value="Fiddler on the Roof">
          </div>

          <div class="award_nomination_row">
            Theater:  <input class="theater_input" name="awards[1][nominations[1][theater]]" value="The Rose">
            Show:  <input type="text" name="awards[1][nominations[1][show]]" 
                  value="Peter Pan">
          </div>

          <div class="award_nomination_row">
            Theater:  <input class="theater_input" name="awards[1][nominations[2][theater]]" value="">
            Show:  <input type="text" name="awards[1][nominations[2][show]]" 
                  value="">
          </div>

          <div class="award_nomination_row">
            Theater:  <input class="theater_input" name="awards[1][nominations[3][theater]]" value="">
            Show:  <input type="text" name="awards[1][nominations[3][show]]" 
                  value="">
          </div>

          <div class="award_nomination_row">
            Theater:  <input class="theater_input" name="awards[1][nominations[4][theater]]" value="">
            Show:  <input type="text" name="awards[1][nominations[4][show]]" 
            value="">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>