<% content_for(:title) do %>
  Calculate Winners
<% end %>

<header class="header">
  <h1 class="header__heading" id="page-title"><%= content_for(:title) %></h1>
  <div class="header__actions">
    <!-- Header actions go here. -->
  </div>
</header>

<div class="side-spacer">
  <p>
    Do not come to this page until all voting is complete. If you are sure that voting is complete and you are ready to calculate the winners for all categories, then proceed by clicking the button below.
  </p>
  <p> Please only click once, it will take some time to calculate. </p>

  <hr>

  <div>
    <%= link_to( "Calculate for #{@year}!", calculate_admin_winners_path, class: "button",) %>
  </div>

  <hr>
  	<p>
  		Here is how we weight the final voting to determine winners:
		<ul class="ul-final_calc">
			<li>Each show gets a weight of 1 per award category</li>
			<li>If the same show is nominated multiple times in the same award category, it is still only weighted as 1</li>
      <li>This means the maximum score of a single vote is the number of unique shows in that award category.</li>
			<li>If a user did not view a show, the weight is 0 for that show, for that vote.</li>
      <li>This means a score for a vote is equal to the number of shows viewed in that award category</li>
      <li>If a vote is made for a show the user has not viewed, the score for that vote is 0</li>
			<li>A total score is calculated from the scores of all votes in that award category</li>
		</ul>
  	</p>
  <hr>

</div>
