ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: $bold-font-weight;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}

.ul-final_calc {
  list-style-type: disc;
  padding: 0 50px;
}
.ul-final_calc li {
  margin: 5px;
}