<h1>Nomination Ballot</h1>

<!-- need to enter data for user's viewings here -->

<% @awards.each do |a| %>
  <%= a.award_name %><br>
    Theater: <br>
    Show: <br>
    Performer: <br>
    Role: <br>
    <br>
<% end %>