<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

<div class="nominations--ballot_box">
<% @awards.each do |award| %>
  <span class="nominations--award_title"><strong><%= award.award_name %></strong></span><br>
  <% nomination_counter = 0 %>
  <% while nomination_counter <= 4 %>
    <select>
      <option>Doing big things</option>
      <option>Doing bigger things</option>
      <option>Doing even bigger things</option>
      <option>Stuff</option>
    </select>
    <br>
  <% nomination_counter += 1 %>
  <% end %>
<% end %>
</div>