.finalBallotSection{
  width: 33%;
  padding: 20px 30px;
  float: left;
  text-align: left;
  min-height: 600px;
}

.finalBallotSection__label{
  display: block;
  margin-bottom: 12px;
  line-height: 1.75;
}

@media only screen and (max-width: $breakpoint-desktop){
  .finalBallotSection{
    width: 50%;
  }
}
