/* This comment is
 * several lines long.
 * since it uses the CSS comment syntax,
 * it will appear in the CSS output. */
body { color: black; }

// These comments are only one line long each.
// They won't appear in the CSS output,
// since they use the single-line comment syntax.
a { color: green; }

//Styling for navigation bar
.nav-bar{
  font-family: "Raleway",sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  border-bottom: #DDDDDD solid 1px;
}

//Styling for navigation links in nav bar
.nav-link{
  text-align: center;
  padding-top: 68px;
}