.nomination_ballot_container{
  position: relative;
}

.award_links{
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 280px;

  margin: 0;
  padding: 0;

  text-decoration: none;

}

.award_links_heading {
  display: block;
  font-size: 18px;
  font-family: Arial;
  border-top-style: solid;
  border-top-width: 2px;
  border-color: #666;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: #999;
  text-transform: uppercase;
  border-radius: 5px;

}

.award_links_instructions {
  display: block;
  font-size: 12px;
  font-family: Arial;
  color: #666;
  text-align: left;
  padding: 10px 20px;
  background-color: white;
  border-top-style: solid;
  border-top-width: 2px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: #666;
  border-radius: 5px;


}


.award_links.award_links--sticky{
  position: fixed;
}

.award_link{
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #666;
  background-color: #F5F5F5;
  text-decoration: none;
  text-align: left;
  padding-left: 20px;
  border-radius: 5px;


}
.award_link:hover{
  color: #666;
  background-color: white;
  text-decoration: underline;
}

.award_link:active {
    text-decoration: underline;
    background-color: #666;
    color: white;
}

.nominations_form{
  margin-left: 280px;
  padding-bottom: 20px;
}

.award_nomination_category {

background-color: #F5F5F5;
border-radius: 20px;
padding-bottom: 20px;
padding-top: 5px;
margin-bottom: 20px;


}

.nomination_ballot_container {

background-color: #B1BEE6;
}

.headline {

  margin-left: 280px;
}

.award_nomination_row {
  padding: 3px;
}

.theater_input {
  margin-right: 15px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

// .show_input {
//   padding: 3px;
// }