body{
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

h1{
  text-align: center;
  color: #444444;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.42857143;
}

.field{
  font-family: 'Source Sans Pro', sans-serif;
  color: #727272;
  line-height: 1.42857143;
  padding-top: 20px;
  font-size: 20px;
}

#user_email{
  margin: 10px;
  padding: 6px 12px;
  border: 1px solid #e3e3e3;
  font-size: 16px;
  box-sizing: border-box;
}

#user_password{
  margin: 10px;
  padding: 6px 12px;
  border: 1px solid #e3e3e3;
  font-size: 16px;
  box-sizing: border-box;
  text-align: center;
}

.login-button{
  margin: 15px;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  border: none;
  border-radius: 3px;
  background: #008ED6;
  box-shadow: none;
  text-shadow: none;
}


