




#heading {
    background-color: silver;
    color: maroon;
    border: none;
    margin-left: 0px;
    margin-right: 0px; 
}

.dropdown-content {
    float: left;
    text-align: left;
    padding-top 5px;
    padding-bottom 5px;
}

.col-10 {
    float: left;
 
}

