//Styling for Text
body{
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #000000;
}
.edit_user{
  text-align: left;
}

//Styling for shows area
.box{
  text-align: center;
  margin-top: 50px;
}

.title{
  margin-top:20px;
  margin-left:100px;
  margin-right:100px;
}

.title-box{
  padding:20px;
  background-color: #F5F5F5;
  color: #444444;
  border-top: #DDDDDD solid 1px;
  border-left: #DDDDDD solid 1px;
  border-right: #DDDDDD solid 1px;
  border-radius: 3px;
}

.content{
  margin-left:100px;
  margin-right:100px;
}

.content-box{
  padding: 20px;
  background-color: #FFFFFF;
  color: #888888;
  border-bottom: #DDDDDD solid 1px;
  border-left: #DDDDDD solid 1px;
  border-right: #DDDDDD solid 1px;
  border-radius: 3px;
}

//Styling for buttons
.button{
    margin:20px;
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.dropbtn {
  font-size: 16px;
  border: none;
  cursor: pointer;
}