<h1>Theaters</h1>

This page displays a button that adds a theater.

The button will reveal a form that allows you to enter the theater name

This page will display a submit button to submit the theater name

This page will display a dropdown or list of all current theaters saved to the database

This page will display an edit button to edit one selection of the list of theaters currently in the database

This page will display a form field to enter the correct theater name

This page will display another submit button to submit the edited theater name

This page will display a delete button to delete the selection